@using Mangaedb.Model;

@model dynamic

@{
    ViewData["Title"] = @Model.Manga.Nome;
}

<h1>@Model.Manga.Nome <span class="text-muted small">#@Model.Manga.Id</span></h1>

<main>
    <article class="row">
        <div class="col-sm-4">
            <p>
                Tags:
                @if (Model.Categorias.Count > 0)
                {
                    @foreach (Categoria cat in Model.Categorias)
                    {
                        <span class="badge mb-2 bg-warning text-dark">@cat.Nome</span>
                    }
                }
                else
                {
                    <span>Este mangá ainda não possui tags...</span>
                }
            </p>
        </div>
        <div class="col-sm-8">

            <p>
                @Model.Manga.Sinopse
            </p>
        </div>

        <div class="comentarios row d-flex justify-content-end">
            <div class="form-comentario col-sm-8">
                <form asp-controller="Comentario" asp-action="Create" method="post">
                    <input type="hidden" name="IdUsuario" value="1" />
                    <input type="hidden" name="IdManga" value="@Model.Manga.Id" />

                    <div class="form-group">
                        <label class="control-label" for="Conteudo">Comente:</label>
                        <textarea class="form-control" name="Conteudo" size="280" rows="4"></textarea>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Enviar Comentário" class="btn btn-sm btn-primary" />
                    </div>
                </form>
            </div>
            @if (Model.Comentarios.Count == 0)
            {
                <span class="text-danger col-sm-8">Esse manga ainda nao possui comentarios, seja o primeiro a comentar!</span>
            }
            else
            {
                @foreach (Comentario oCom in Model.Comentarios)
                {
                    <div class="comentario col-sm-8">
                        <hr />
                        <div class="d-flex align-content-center">
                            <div class="flex-grow-1">
                                @oCom.Conteudo
                            </div>
                            <small class="text-muted">
                                (@oCom.CreatedAt)

                            </small>
                            <form asp-action="Delete" asp-controller="Comentario" class="">
                                <input type="hidden" name="Id" value="@oCom.Id" />
                                <input type="submit" value="x" style="font-size: 10px;display: flex;border-radius: 50%;padding: 0px 7px 4px;margin: 2px;" class="btn btn-danger" />
                            </form>
                        </div>

                    </div>

                }
            }
        </div>
    </article>
</main>
<div>
    <a asp-action="Index" class=" btn btn-secondary mb-2">Voltar para a Lista</a>
    <br />
    <a href="/" class=" btn btn-secondary">Voltar para a Página Principal</a>
</div>
