@model IEnumerable<Mangaedb.Model.Manga>

@{
    ViewData["Title"] = "Mangás";
}

<h1>Mangás</h1>

<p>
    <a asp-action="Create">Novo Mangá</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sinopse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome) <small class="text-secondary"><em># @Html.DisplayFor(modelItem => item.Id)</em></small>
                </td>
                <td>
                    @item.Sinopse.Substring(0, item.Sinopse.Length > 50 ? 50 : item.Sinopse.Length) 
                    @if(item.Sinopse.Length > 50)
                    {
                        <span>...</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Visualizar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>
